
<H2 ALIGN=CENTER>Submit and Reset</H2><H3>
Radio buttons is used to select only one option at a time.<BR>

Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">Genger&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=RADIO NAME=GENDER VALUE=M>Male&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=RADIO NAME=GENDER VALUE=F>Female</B><BR><BR>

<INPUT TYPE=RADIO NAME=GENDER VALUE=M>Male&nbsp;&nbsp;<INPUT TYPE=RADIO NAME=GENDER VALUE=F>Female<BR><BR>

Other example<BR><B STYLE="BACKGROUND-COLOR:#FFD700">Married status&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=RADIO NAME=MSTATUSVALUE=MA>Married&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=RADIO NAME=MSTATUS VALUE=UM CHECKED>Unmarried</B><BR><BR>

<INPUT TYPE=RADIO NAME=MSTATUS VALUE=MA>Married&nbsp;&nbsp;<INPUT TYPE=RADIO NAME=MSTATUS VALUE=UM CHECKED>Unmarried<BR><BR>CHECKED is used to select by defalut
</H3>