<HTML>
<HEAD>
</HEAD>
<body bgcolor=#FFF8DC>
<H3><U><h2 align=center>Blockquote</h2></U><BR>
This tag is used for indent the text. This is a non-empty tag.<BR>
Syntax is <BR><b><font size=+1 color=white style="background-color:blue">&#60BLOCKQUOTE>To change the overall look of your document, choose new Theme elements on the Page Layout tab.&#60;/BLOCKQUOTE></font></B><BR><BR>
Example of Blockquote Tag
<BLOCKQUOTE>To change the overall look of your document, choose new Theme elements on the Page Layout tab. To change the looks available in the Quick Style gallery, use the Change Current Quick Style Set command. Both the Themes gallery and the Quick Styles gallery provide reset commands so that you can always restore the look of your document to the original contained in your current template.</BLOCKQUOTE>ggg
</body>
</HTML>