<html>
<head></head>
<BODY BGCOLOR=#FFDEAD>
<H2 ALIGN=CENTER><U>Bold Underline and Italic</U></H2><H3>
These tags are non-empty tags. The Bold tag &#60;B> make the text appear Bold. The Underline tag &#60;U> Underline the text. The Italic tag &#60;I> gives a slant effact to the text.<BR>
Ex:-<BR>
<B><FONT COLOR=WHITE SIZE=+2 STYLE="BACKGROUND-COLOR:BLUE">&#60;FONT SIZE=+2 COLOR=BLUE FACE="Century Schoolbook">&#60;U>&#60;I>Font Size +2, color, Font Face is Century Schoolbook, Underline and Italic&#60;/I>&#60;/U>&#60;/FONT></FONT></B><BR><BR>

<FONT SIZE=+2 COLOR=BLUE FACE="Century Schoolbook"><U><I>Font Size +2, color, Font Face is Century Schoolbook, Underline and Italic</I></U></FONT></h3>
</BODY>
</html>