<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#FFFFE0>
<H2 ALIGN=CENTER>Radio Buttons</H2><H3>
This is used to select multiple option in a form.<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=CHECKBOX>Select</B><BR><INPUT TYPE=CHECKBOX>Select <BR>

favorit color:<br><B STYLE="BACKGROUND-COLOR:#FFD700">
&#60;input type=checkbox name=color value=red> Red&#60;BR><BR>
&#60;input type=checkbox name=color value=blue> Blue&#60;BR><BR>
&#60;input type=checkbox name=color value=yellow> Yellow&#60;BR><BR>
&#60;input type=checkbox name=color value=green> Green&#60;BR><BR>
&#60;input type=checkbox name=color value=black> Black&#60;BR><BR></B><BR>
favorit color:<br>
<input type=checkbox name=color value=red> Red<BR>
<input type=checkbox name=color value=blue> Blue<BR>
<input type=checkbox name=color value=yellow> Yellow<BR>
<input type=checkbox name=color value=green> Green<BR>
<input type=checkbox name=color value=black> Black<BR>

<br>Language known:<br><B STYLE="BACKGROUND-COLOR:#FFD700">
&#60;input type=checkbox name=language value=hi checked> Hindi<br>
&#60;input type=checkbox name=language value=en checked> Englsh<br>
&#60;input type=checkbox name=language value=ma> Marathi<br>
&#60;input type=checkbox name=language value=be> Bengoli<br>
&#60;input type=checkbox name=language value=gu> Gujrati<br><BR></B>

<br>Language known:&nbsp;<br>
<input type=checkbox name=language value=hi checked> Hindi<br>
<input type=checkbox name=language value=en checked> Englsh<br>
<input type=checkbox name=language value=ma> Marathi<br>
<input type=checkbox name=language value=be> Bengoli<br>
<input type=checkbox name=language value=gu> Gujrati<br>
<br>
</H3>
</BODY>
</HTML>