<html>
<head>
</head>
<BODY BGCOLOR=#ADFF2F>
<h2 align=center><U>Difinition lists</h2></U><h3>
This is used to creat definition lists. The definition list tag is &#60;DL></font>. The &#60;DT> tag is used for the term that is to be defined. The &#60;DD> tag is used for the actual definition of the term.<BR>
Syntax is<TABLE BGCOLOR=BLUE><TR><TD>
<b><FONT COLOR=WHITE SIZE=+1>
&#60;DL><BR>&#60;DT>Definition Term 1<BR>&#60;DD>Actual Definition of Definition Term 1<BR>&#60;DT>Definition Term 2<BR>&#60;DD>Actual Definition of Definition Term 2<BR>&#60;/DL></TD></TR></TABLE></FONT></b><BR><BR>
Example:-
<DL>
<DT>HTML
<DD>It is a scripting languaga used to create web page
<DT>C++
<DD>It is a Object orianted programming language</DL></h3>
</BODY>
</html>