<HTML>
<BODY>
<TITLE>Link</TITLE>
<BODY VLINK=ORANGE LINK=GREEN >
<style>
A:HOVER {COLOR:red}</style>

<CENTER><H2>Enternal Link</H2></CENTER><BR>
Syntax:<BR>
<FONT SIZE=5 STYLE="BACKGROUND-COLOR:ORANGE">&#60;A HREF=#LINK1> LINK1&#60;/A></font><BR>

<A HREF=#LINK1>LINK1</A><br><br>
<font size=4>
Here in HREF attribute have valu with "#" sign. This is called Referring tag.<br><br>

<FONT SIZE=5 STYLE="BACKGROUND-COLOR:ORANGE">&#60;A NAME=LINK1> LINK1&#60;/A></font><BR>
<A NAME=LINK1>LINK1</A>


<BR><BR>This is called Target tag.<BR><BR>
<A HREF=#1><li>System Software</A>
<A HREF=#2><li>Real Time Software</A><BR><BR><BR>
<p>
<A NAME=1>1.System Software- This is a collection of programs which service other programs. They process determinate as well as indeterminate data. eg
. compilers, editors etc. fall in the first catagory whereas, operating system, telecommunication software etc.</A></p><BR><BR>


<A NAME=2>2. Real Time Software- This type of software monitors events as they occur.  </A><BR><BR>




<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
<BR><BR><BR><BR>
<BR><BR><BR><BR>
</BODY>
</HTML>