<html>
<head>
</head>
<BODY BGCOLOR=#48D1CC>
<H2 ALIGN=CENTER><U>Font</U></H2><H3>
Font tag has following attribute
<ol type=i>
<li>Color
<li>Size
<li>Face</ol>
syntax is<BR>
<B style="background-color:orange">&#60;FONT COLOR=GREEN SIZE=+2 FACE="Lucida Calligraphy">Font Size +2, color and Font Face is Lucida Calligraphy&#60;/FONT></B><BR><BR>
<FONT SIZE=+2 COLOR=GREEN FACE="Lucida Calligraphy">Font Size +2, color and Font Face is Lucida Calligraphy</FONT><BR>
<FONT SIZE=+3 COLOR=RED >Font Size +3 and color</FONT>
</h3>
</BODY>
</html>