<HTML>
<HEAD><TITLE>FORM1</TITLE>
</HEAD>
<BODY>
	<FONT FACE="Algerian">
	<B><MARQUEE SCROLLAMOUNT=100 BGCOLOR=PINK HSPACE=20 WIDTH="50%"><H1>L.N. COLLEGE OF MANAGEMENT & TECHNOLOGY</H1></MARQUEE></B></FONT>
	<FONT FACE="Arial Black">
	<H2 ALIGN="CENTER">PERSONAL INFORMATION</H2>

	<FORM METHOD="POST"NAME="INFO">
	<P><B> 
	ENTER YOUR NAME:-</B>&nbsp;&nbsp;&nbsp;&nbsp;
	<INPUT TYPE="TEXT"NAME="NAME"SIZE="50"><BR>
	<B><P>
	ENTER YOUR AGE:-</B> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<INPUT TYPE="TEXT"NAME="AGE" SIZE="25"<BR>

	<B><P>
	ENTER YOUR ADDRESS:-</B><BR>
	<TEXTAREA NAME="ADD" SIZE="40" ROWS="15" COLS="50">
	</TEXTAREA><BR>
	<B><P>
	GENDER:-</B><BR>
	<INPUT TYPE="RADIO" NAME="GENDER"VALUE="F">Female &nbsp;&nbsp;
	<INPUT TYPE="RADIO" NAME="GENDER"VALUE="M">Male
	<P><B>
	CHOOSE YOUR COUNTRY:-</B>
	<SELECT NAME="SELECTLIST" MULTIPLE SIZE="5">
		<OPTION VALUE="1">INDIA
		<OPTION VALUE="2">USA
		<OPTION VALUE="3">AUSTRALIA
		<OPTION VALUE="4">ENGLAND
		<OPTION VALUE="5">CHINA
		<OPTION VALUE="6">KENYA
	<P><B>
	</SELECT>
	QUALIFICATION:-</B>&nbsp;&nbsp;
	<INPUT TYPE="CHECKBOX" NAME="Q"VALUE="XTH">X<SUP>th</SUP>PASS  &nbsp;
	<INPUT TYPE="CHECKBOX" NAME="Q"VALUE="XIITH">Xll<SUP>th</SUP>PASS &nbsp;
	<INPUT TYPE="CHECKBOX" NAME="Q"VALUE="UG">Undergraduate &nbsp;

	<INPUT TYPE="CHECKBOX" NAME="Q"VALUE="G">Graduate &nbsp;
	<B><P>
	STATUS:-</B>
	<INPUT TYPE="RADIO" NAME="S" VALUE="W">Working &nbsp;
	<INPUT TYPE="RADIO" NAME="S" VALUE="NW">Non-Working <BR><BR><BR>
	
	<CENTER>
	<INPUT TYPE="SUBMIT" NAME="SUBMIT" VALUE="SUBMIT">&nbsp;&nbsp;
	<INPUT TYPE="RESET" NAME="RESET" VALUE="RESET">

	</CENTER>
	</FORM>
	</FONT>	
</BODY>
</HTML>