<html>
<head>
<TITLE> Simple form</TITLE>
<bodY bgcolor=#ADFF2F VLINK=ORANGE LINK=GREEN>
<style>
A:HOVER {COLOR:red}</style>
<TABLE>
<form method=post action="Database1.mdb">


<TR>
<TD>
<h3>First name  &nbsp;</TD>
<TD COLSPAN=2><input type=text name=first size=20 maxlenth=15><br></TD>
</TR>
<TR>
<TD>
Last name &nbsp;</TD>
<TD COLSPAN=2><INPUT TYPE=TEXT NAME=LAST SIZE=20 MAXLENTH=15><br></TD>
</TR>
<TR>
<TD>
password:&nbsp;&nbsp;&nbsp;</TD>
<TD COLSPAN=2><input type=password ><br><br></TD>
</TR>

<TR><TD>
<B><U>Address</B></U><br></TD></TR>
<TR>
<TD>Room no.&nbsp;&nbsp;</TD>
<TD><input type=text name=add size=10 >&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD>Area&nbsp;&nbsp;</TD>
<TD COLSPAN=2><input type=text name=add size=15>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
</TR>
<TR>
<TD>City&nbsp;&nbsp;</TD>
<TD><select name=add >
<option>Pune
<option selected>Mumbai
<option>Delhi
<option>Kolkata
<option>Chenni
<option>Goa
<option>Banglor
</select><br></TD>
</TR>

<TR>
<TD>Married status</TD>
<TD><input type=radio name=mstatus value=married>Married</TD>
<TD><input type=radio name=mstatus value=unmarried checked>Single</TD>
</TR>
<TR><TD>
<br>Language known:&nbsp;<br></TD>
<TD><input type=CHECKBOX name=language value="hindi"> Hindi&nbsp;&nbsp;&nbsp;&nbsp;<br></TD>
<TD><input type=checkbox name=language value=english checked> Englsh&nbsp;&nbsp;&nbsp;&nbsp;<br></TD>
<TD><input type=checkbox name=language value=marathi> Marathi&nbsp;&nbsp;&nbsp;&nbsp;<br></TD></TR>
<TR><TD></TD><TD><input type=checkbox name=language value=bengoli> Bengoli&nbsp;&nbsp;&nbsp;&nbsp;<br></TD>
<TD><input type=checkbox name=language value=gujrati> Gujrati&nbsp;&nbsp;&nbsp;&nbsp;<br></TD>
</TR>
<TR><TD>
<br>favorit color:<br></TD>
<TD><input type=CHECKBOX name=color value=red> Red<br></TD>
<TD><input type=checkbox name=color value=blue> Blue<br></TD>
<TD><input type=checkbox name=color value=yellow> Yellow<br></TD></TR>
<TR><TD></TD><TD><input type=checkbox name=color value=green> Green</TD>
<TD><input type=checkbox name=color value=black> Black<br><TD>
</TR>
<TR>
<TD></h3>
<br><input type=submit name=submit value=submit>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
<TD><input type=reset value=clear></TD></TR>
</form><br><br>
</TABLE>
<br>


<hr size=10 align=left noshade=red>
<H3>
<A HREF="link.htm">See the example of Link</A><BR>
<A HREF="text.htm">See the example of Text Level</A><BR>
<A HREF="image.htm">See the example of image</A>

</h3>
</body>
</head>
</html>