<HTML>
<BASE TARGET=details>
<HEAD>
<TITLE>Form</TITLE></HEAD>
<BODY VLINK=ORANGE LINK=GREEN BGCOLOR=#DCDCDC><H3>
<style>
A:HOVER {COLOR:red}</style>

Click here to follow link<BR><HR>

<FONT SIZE=+2><B><U>See also</FONT></B></U><BR>
<A HREF=formt.html>Form</A><BR>
<A HREF=input.html>Input Text</A><BR>
<A HREF=inputp.html>Input Password</A><BR>
<A HREF=radio.html>Radio Buttons</A><BR>
<A HREF=checkb.html>Checkbox</A><BR>
<A HREF=submit.html>Submit and Reste</A><BR>
<A HREF=select.html>Select tag</A><BR>
<A HREF=textarea.html>Textarea</A><BR>
<A HREF=example.htm>Ex. of a simple form</A><BR>
<A HREF=example.html title="Click to see How to use nested table">Nested table & form</A><BR>

</BODY>
</HTML>