<HTML>
<HEAD>
</HEAD>
<BODY BGCOLOR=#F0FFFF>
<center><U><H2>Heading level</H2></U>,</center>
There are six type of Heading Level from <font size=+2>H1</FONT> to <font size=+2>H6</FONT>. H1 is the hightest font level and H6 is lowest font level.This is a non-empty tag. The most important thing that the Break tag &#60;BR&#62; is not required after Heading tag it automaticaly comes in a new line.<BR>
<H1>This is Heading Level 1</H1>
<H2>This is Heading Level 2</H2>
<H3>This is Heading Level 3</H3>
<H4>This is Heading Level 4</H4>
<H5>This is Heading Level 5</H5>
<H6>This is Heading Level 6</H6>
Ex:- Script is like this<BR>

<b><font size=+1 color=white style="background-color:blue">&#60;H1&#62;Heading Level 1&#60;/H1></font></b>
</BODY>
</HTML>