<HTML>
<BASE TARGET=index>
<HEAD>
<TITLE>HTML TUTORIAL</TITLE>
<BODY VLINK=#000000 LINK=GREEN BACKGROUND=cloudsbetter.gif>
<style>A:HOVER {COLOR:red}</style>
<IMG SRC="girl_walking_with_india_flag_lg_wht.gif" ALT="Jai Hind" WIDTH=100 HEIGHT=100 align=right>
<CENTER><u><FONT SIZE="+4" COLOR=GREEN FACE="Lucida Calligraphy">HTML TUTORIAL</font></U><BR>
<FONT SIZE=5>
<A HREF="login.html" title="Click here to login all site"> Login site</A>&nbsp;&nbsp;
<A HREF="form.html" title="Click here to see the all contant of form"> Form</A>&nbsp;&nbsp;
<A HREF="text.htm" title="Click here to see the all tag of text level and block level element"> Text Level</A>&nbsp;&nbsp;
<A HREF="image.htm">Image</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF=meta.html target=details>Meta Tag</A>
</CENTER>


</BODY>
</HEAD>
</HTML>