<html>
<body>
<BODY TEXT=GREEN>
<center><H3>See the Example<BR><HR>
<A HREF="HOME PAGE.html"> HOME</A>&nbsp;&nbsp;
<A HREF="form.htm"> Form</A>&nbsp;&nbsp;
<A HREF="text.htm"> Text Level</A>&nbsp;&nbsp;
<A HREF="link.htm"> Heading level</A>&nbsp;&nbsp;
<A HREF="image.htm">Image</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A>&nbsp;&nbsp;
<A HREF="link.htm"> Link</A><hr>&nbsp;&nbsp;
</h3></center>
image
background image
background color




<H2>

Image as a background<BR><BR>
<right>Image of Dolfin<p></p></right>

<MARQUEE DIRECTION=RIGHT SCROOLAMOUNT=100 LOOP=2 BEHAVIOR=SCROLL><IMG SRC="Dolfin.jpg" ALIGN=RIGHT HEIGHT=300 WIDTH=300 ALT=Dolfin BORDER=2></MARQUEE> <br><br>
<IMG SRC="0044051YQZQ.GIF" ALIGN="RIGHT" HEIGHT=300 WIDTH=300 ALT=Rose>




<IMG SRC="OM.GIF" ALIGN=CENTER HEIGHT=100 WIDTH=100 ALT=OM><br>
<font color=blue>This is an animated image</font>
</H2>


<BR><BR><BR><BR>


<HR WIDTH=50% SIZE=5 ALIGN=LEFT COLOR=RED>
<H3><A HREF="form.htm">See the example of Form</A><BR>
<A HREF="text.htm">See the example of Text Level</A><BR>
<A HREF="link.htm">See the example of Link</A><BR></H3>

</body>
</html>
