<HTML>
<BODY>
<TITLE>Link</TITLE>
<BODY VLINK=ORANGE LINK=GREEN >
<style>
A:HOVER {COLOR:red}</style>

<CENTER><H2>Link on Image</H2></CENTER><BR>
Syntax:<BR>
<FONT SIZE=5 STYLE="BACKGROUND-COLOR:ORANGE">&#60;A HREF=#IMAGE> &#60;IMG SRC="OM.GIF" ALIGN=RIGTH HEIGHT=100 WIDTH=100 ALT=OM>&#60;/A></font><BR>


<A HREF=#IMAGE><IMG SRC="OM.GIF" ALIGN=RIGHT  HEIGHT=100 WIDTH=100 ALT=OM border=0></A><br><br>
<font size=4>
Click on image to see more image <br>
<a href="Follow.jpg" title="Click to view image">click here</a> to wiew image

<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
<A NAME=IMAGE>More image<BR>
<IMG SRC=287b.jpg ALT=Cat WIDTH=250 HIGHT=250 >
<IMG SRC=butterfly_nature800.jpg ALT=Butterfly WIDTH=250 HIGHT=250 >
<IMG SRC=cub1b.jpg ALT=Cub WIDTH=250 HIGHT=250 >
<IMG SRC=Lion.jpg ALT=Lion WIDTH=250 HIGHT=250 >
<IMG SRC=pinguins1b.jpg ALT=pinguins WIDTH=250 HIGHT=250 >
<IMG SRC=xanimal5_1024.jpg WIDTH=250 HIGHT=250 >
<IMG SRC=yellow.jpg WIDTH=250 HIGHT=250 >





<BR><BR><BR><BR>
<BR><BR><BR><BR>
</BODY>
</HTML>