<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#FFE4C4>
<H2 ALIGN=CENTER>Input Password</H2><H3>
This is used to input password in a form.<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">Enter Password&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=PASSWORD></B><BR>Outcome is<br>Enter Password&nbsp;&nbsp;<INPUT TYPE=PASSWORD><BR><BR>Other example<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=PASSWORD NAME=PASS SIZE=30 MAXLENGTH=12></B><BR><BR><INPUT TYPE=PASSWORD NAME=PASS SIZE=30 MAXLENGTH=12><BR><BR>SIZE attribute define the size of textbox and MAXLENGTH attribute define the maximum character can entered in the box.
</H3>
</BODY>
</HTML>