<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#7FFFD4>
<H2 ALIGN=CENTER>Input Text</H2><H3>
This is used to input text in a form.<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">Enter Name&#38;nbsp;&#38;nbsp;&#60;INPUT TYPE=TEXT VALUE=Name></B><BR>Outcome is<br>Enter Name&nbsp;&nbsp;<INPUT TYPE=TEXT VALUE=Name><BR><BR>Other example<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=TEXT NAME=LAST SIZE=50 MAXLENGTH=20 VALUE=Lastname></B><BR><BR><INPUT TYPE=TEXT NAME=LAST SIZE=50 MAXLENGTH=20 VALUE=Lastname><BR><BR>SIZE attribute define the size of textbox and MAXLENGTH attribute define the maximum character can entered in the textbox.
</H3>
</BODY>
</HTML>