<HTML>
<HEAD>
</HEAD>
<body bgcolor=#F8F9AF>
<h2 align=center><U>Lists</h2></U><h3>
There are two types of List<BR>1.Ordered List<BR>2.Unorderd List
Ordered List

<TABLE WIDTH=40%>
<TR>
<TD BGCOLOR=ORANGE><FONT SIZE=+1><B>Script</B></FONT><BR><B STYLE="BACKGROUND-COLOR:ORANGE">&#60;OL><BR>&#60; LI>Mango<BR>&#60;LI>Orange<BR>&#60;LI>Grapes<BR>
&#60;LI>Banana&#60;/OL></B></td>
<TD><FONT SIZE=+1><B>Outcome<b></FONT>
<OL><BR>
<LI>Mango<BR>
<LI>Orange<BR>
<LI>Grapes<BR>
<LI>Banana</B></OL></td></tr></TABLE>


To change the numeric list syntax is <BR><TABLE WIDTH=40%><TR>
<TD  BGCOLOR=ORANGE><FONT SIZE=+1><B>Script</B></FONT><BR><B STYLE="BACKGROUND-COLOR:ORANGE">&#60;OL TYPE=A><BR>&#60; LI>Mango<BR>&#60;LI>Orange<BR>&#60;LI>Grapes<BR>
&#60;LI>Banana&#60;/OL><BR></B><TD><FONT SIZE=+1><B>Outcome</FONT>
<OL TYPE=A>
<LI>Mango
<LI>Orange
<LI>Grapes
<LI>Banana</OL></TABLE>

Unordered list: to change bulet syntax is  <BR><TABLE WIDTH=40%>
<TR>
<TD BGCOLOR=ORANGE WIDTH=60%><FONT SIZE=+1><B>Script</B></FONT><BR>
<B STYLE="BACKGROUND-COLOR:ORANGE">&#60;UL TYPE="square"><BR>&#60;LI>Green<BR>
&#60;LI>Red<BR>&#60;LI>Black<BR>&#60;LI>Blue&#60;/UL></B><TD><font size=+1><b>Outcome</font>
<UL TYPE="square">
<LI>Green
<LI>Red
<LI>Black
<LI>Blue</UL></TABLE></b></h3>
</body>
</HTML>