<html>
<BASE TARGET="_parent">
<head>
</head>
<body VLINK=ORANGE LINK=GREEN BGCOLOR=#E6E6FA>
<style>A:HOVER {COLOR:red}</style>
<H2>Login site</h2><BR>
<A HREF="http://www.google.co.in/" TARGET=details>Google</A><br>
<A HREF="http://in.yahoo.com/">Yahoo mail</a><br>
<A HREF="http://www.aol.com/">Aol Mail</A><BR>
<A HREF="https://mail.dcbl.com/ " target="_parent">DCB</A>
<BR><A HREF="http://www.rediff.com/index.html">Rediff Mail</A>
<BR><A HREF="https://www.google.com/accounts/ServiceLogin?service=orkut&hl=en-US&rm=false&continue=http%3A%2F%2Fwww.orkut.com%2FRedirLogin.aspx%3Fmsg%3D0&cd=IN&skipvpage=true&sendvemail=false">Orkut<A>
<BR><A HREF="http://irctc.com/displayServlet">IRCTC</A><br>
<A HREF="http://www.htmlcodetutorial.com/">HTML CODE</A>

</body>
</html>