<html>
<head></head>
<BODY bgcolor=#FFF5EE>
<font size=4><font size=5><center>META</center></font><BR><BR>
The &#60;meta> tag provides information about the HTML document. Metadata will not be displayed on the page.<BR><BR>

Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata.<BR><BR>

The &#60;meta> tag always goes inside the head element.<BR><BR>

The metadata can be used by browsers (how to display content or reload page), search engines (keywords), or other web services.<BR><BR>
Syntax is:<BR><font size=5 style="background-color:orange">
&#60;HTML><BR>
&#60;HEAD><BR>
&#60;meta name="description" content="Free Web tutorials" /><BR>
&#60;meta name="keywords" content="HTML,CSS,XML,JavaScript" /><BR>
&#60;meta name="author" content="Hege Refsnes" /><BR>
&#60;meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" /><BR>&#60;/HEAD><BR>&#60;/HTML>

</font>
</BODY>

</HTML>