<HTML>
<HEAD>
</HEAD>
<BODY BGCOLOR=#FFE4C4>
<H2><U>Paragraph</U></H2><BR><h3>
This is used for paragraph. The paragraph begning with &#60;P> and end with &#60;/P>. This is a non-empty tag.In this tag &#60;BR> is not required between two paragraph.<BR><BR>
Example of Paragraph Tag

<P>On the Insert tab, the galleries include items that are designed to coordinate with the overall look of your document. You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks.</P>
<P>
You can easily change the formatting of selected text in the document text by choosing a look for the selected text from the Quick Styles gallery on the Home tab. </P>

Script is like this<BR><b><FONT size=+2 color=white style="background-color:BLUE">
&#60;P>On the Insert tab, the galleries include items that are designed to coordinate with the overall look of your document. You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks.&#60;/P><BR>
&#60;P>
You can easily change the formatting of selected text in the document text by choosing a look for the selected text from the Quick Styles gallery on the Home tab. &#60;/P></FONT></b><BR><BR>
</BODY>


</HTML>