<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#D8BFD8>
<H2 ALIGN=CENTER>Select Tag</H2><H3>
This tag is used to creat a menu control. This is a non-empty tag.<BR><BR>
Example<TABLE>
<TR><TD><font SIZE=+1>City</font></TD><TD><font SIZE=+1>Favorite color</font></TD></TR>
<TR><TD BGCOLOR=#FFEBCD><B>&#60;SELECT NAME=CITY><BR>
&#60;OPTION>Pune<BR>
&#60;OPTION>Mumbai<BR>
&#60;OPTION>Delhi<BR>
&#60;OPTION>Kolkata<BR>
&#60;OPTION>Chenni<BR>
&#60;OPTION>Goa<BR>
&#60;OPTION>Banglor<BR>
&#60;/SELECT></TD></B><br>


<TD BGCOLOR=#FFEBCD><B>&#60;SELECT NAME=COLOR SIZE=3 MULTIPLE><BR>
&#60;OPTION>Green<br>
&#60;OPTION>Yellow<BR>
&#60;OPTION SELECTED>Red<BR>
&#60;OPTION>Blue<BR>
&#60;OPTION>Orange<BR>
&#60;OPTION>Purple<BR>
&#60;OPTION>Brown<BR>
&#60;/SELECT></TD></TR></B>

<TR><TD>City&nbsp;&nbsp;
<select name=add >
<option>Pune
<option>Mumbai
<option>Delhi
<option>Kolkata
<option>Chenni
<option>Goa
<option>Banglor
</select></TD>

<TD>Favoeite color&nbsp;&nbsp;
<SELECT NAME=COLOR SIZE=3 MULTIPLE>
<option>Green
<option>Yellow
<option SELECTED>Red
<option>Blue
<option>Orangr
<option>Purple
<option>Brown
</select></TD></TR></TABLE>

We can decide the size of option display. MULTIPLE is used to select more then one option and SELECTED is fof by default selection.

</BODY>
</HTML>