<html><head><title>Login</title></head>
<body>
<form action=Frame.html mehtod="post">
<CENTER><font face="Lucida Handwriting" size=+4 color=green>Welcome to star.com</font></CENTER>

<table align=center width=100%><tr><td>
<TABLE WIDTH=300 FRAME=BOX><TR><TD>
<TABLE WIDTH=300><TR>
	<TD COLSPAN=2>&nbsp;</TD>
</TR><TR>
	<TD ALIGN=RIGHT><h3>User name:</td>
	<td><input type=text name=first size=20 MAXLENGTH=15 value=Username></td>
</tr><TR>
	<TD ALIGN=RIGHT><h3>Last Name:</td>
	<td><input type=text name=last size=20 MAXLENGTH=15 value=Lastname></td>
</tr><tr>
	<td ALIGN=RIGHT><H3>password:</td>
	<td><input type=password value=ABCD></td>
</tr><TR>
	<td align=center colspan=2>
	<input type=submit value="Sign in"></td>
</tr><TR>
	<TD COLSPAN=2><A HREF="fpassword.html" TITLE="If you forgot password then please contect on 999999999 to Amit">Forgot password?</a><br>for help please contact on 999999999  to Amit.</td>
</tr><TR>
	<TD COLSPAN=2>&nbsp;</TD>
</TR><TR>
	<TD colspan=2> for new user <a href="example.html" title="If you are not a user yet then click here to create a new account">click here</a> to create account</td>
</tr>
</table>
</table>
</body>
</html>