<html>
<head> </head>
<BODY BGCOLOR=#FFDAB9>
<H2 ALIGN=CENTER><U>Superscript and Subscript</U></H2><H3>
Both these tages are non-empty tag sets. These tages are used in documents that contain formulas, footnoes, equations etc.<BR><BR>
Syntax of superscript<BR><B STYLE="BACKGROUND-COLOR:ORANGE">X&#60;SUP>2&#60;/SUP>=4</B><BR><BR>X<SUP>2</SUP>=4<BR><BR>
Syntax of subscript<BR><B STYLE="BACKGROUND-COLOR:ORANGE">2H&#60;SUB>2&#60;/SUB> + O&#60;SUB>2&#60;/SUB> = 2H&#60;SUB>2&#60;/SUB>O<BR><BR></B>2H<SUB>2</SUB> + O<SUB>2</SUB> = 2H<SUB>2</SUB>O</H3>
</BODY>
</html>