<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#FFF5EE>
<H2 ALIGN=CENTER>Submit and Reset</H2><H3>
Submit is used to send the all information in the Aspecify address in action trribute.<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=SUBMIT VALUE=SUBMIT></B><BR>Outcome is<br><INPUT TYPE=SUBMIT VALUE=SUBMIT><BR><BR>
Other example<BR>Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=SUBMIT VALUE=Accept></B><BR>Outcome is<br><INPUT TYPE=SUBMIT VALUE=Accept><BR><BR>

Reset is used to do blank all filled in a form.<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=RESET VALUE=RESET></B><BR>Outcome is<br><INPUT TYPE=RESET VALUE=RESET><BR><BR>
Other example<BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;INPUT TYPE=RESET VALUE=Clear></B><BR>Outcome is<br><INPUT TYPE=RESET VALUE=Clear><br><br>
We can also use Image as submit<br>
<input type=image src=OM.GIF>
</H3>
</BODY>
</HTML>