<html>
<head></head>
<BODY BGCOLOR=#98FB98>
<H2 ALIGN=CENTER><U>Teletype</U></H2><H3>
This makes the enclosed text appear in the teletype font i.e. the text will be monospaced and look like a typewriter font.<BR>
Ex:-<BR><TT>This makes the enclosed text appear in the teletype font i.e. the text will be monospaced and look like a typewriter font.</TT><BR><BR>
Script is<BR><B style="background-color:orange">
&#60;TT>Example of Teletype&#60;/TT></B><BR><BR><TT>Example of Teletype</TT></H3>
</BODY>
</html>