<HTML>
<BASE TARGET=details>
<HEAD>
<TITLE>Text Level Element</TITLE></HEAD>
<BODY VLINK=ORANGE LINK=GREEN BGCOLOR=#DCDCDC><H3>
<style>
A:HOVER {COLOR:red}</style>

Click here to follow link<BR><HR>

<FONT SIZE=+2><B><U>See also</FONT></B></U><BR>
<A HREF=heading.html>Heading level</A><BR>
<A HREF=para.html>Paragraph</A><BR>
<A HREF=block.html>Blockquote</A><BR>
<A HREF=pre.html>Preformatted</A><BR>
<A HREF=list.html>Lists</A><BR>
<A HREF=dif.html>Difinition lists</A><BR>
<A HREF=font.html>Font</A><BR>
<A HREF=bu&i.html>Bold Underline and Italic</A><BR>
<A HREF=str.html>Strike</A><BR>
<A HREF=tel.html>Teletype</A><BR>
<A HREF=sub.html>Superscript and Subscript</A><BR>
<A HREF=comm.html>Comment</A><BR><BR><BR>







</BODY>
</HTML>