<HTML>
<HEAD></HEAD>
<BODY BGCOLOR=#F0F8FF>
<H2 ALIGN=CENTER>Textarea</H2><H3>
A TEXTAREA tag can create a multiple line text box.It has NAME, ROWS and COLS atrributes. ROWS define the no. of rows and COLS define the no. of colums. It ia a non-empty tag.<BR><BR>Example<BR>
<TABLE CELLSPACING=5><TR><TD BGCOLOR=#FFEBCD>
<B>&#60;TEXTAREA ROWS=2 COLS=30 NAME="about you"><BR>
&#60;/TEXTAREA></TD></B>

<TD><TEXTAREA ROWS=2 COLS=30 NAME="about you">
</TEXTAREA></TD></TR></TABLE><BR>
We can give by default text in textarea.<BR>

<TABLE BGCOLOR=#FFEBCD><TR><TD>
<B>&#60;TEXTAREA ROWS=10 COLS=50 NAME="about you"><BR>
Your favorite games<BR><BR>

Other information if you want to give.<BR><BR><BR>

&#60;/TEXTAREA></TD></TR></TABLE></B><BR>

Outcome<BR>
<TEXTAREA ROWS=10 COLS=50 NAME="about you" readonly>
Your favorite games

Other information if you want to give.


</TEXTAREA>

</H3>
</BODY>
</HTML>