
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>About Site</h3>
<p>
    This site provide source code, small code snippet , common sql queries and tricks to code easy. 
    We try to resolve user questions and help which faced during codeing for beginners. We will also share helpful tips and queries.
    User can also share code and post articals if they want to help beginners, We have online test which help you to evaluate you.
    User can also create their question set and take self test. you can view your test result and share with friends.
</p>

<h3>Privacy Policy</h3>

<p>
    We cares about your privacy. For this reason, we collect and use very nominal personal information only as needed,
    and to communicate with you about the same. we do post any thing about you and  your test result wihout your permission.
    Your personal information includes information such as:
    <ul>
        <li> Name</li>
        <li> Email address</li>
        <li> profile photo</li>
        <li> ID</li>
    </ul>
</p>
<p>
    We also do not share or sell any type of data or information, We store your data to communucate with you only.
</p>

<h3>Cookies</h3>

<p>
    Cookies are small pieces of text used to store information on web browsers. 
    Cookies are used to store and receive identifiers and other information on computers, phones and other devices.
    We may store cookies on your device, including cookie IDs and settings. 
</p>