<?xml version="1.0" encoding="utf-8"?>
<!--  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="FclientId" value="707184046760015"/>
    <add key="client_sec" value="70b7fe80e0c58af5fe97c80859d2fde9"/>
    
    <!--<add key="FclientId" value="870322430140856"/>
    <add key="client_sec" value="6d86307bd9c7cd76b738b9941c827cc8"/>-->
  </appSettings>



  <log4net debug="false">
    <appender name="LogFileAppender"  type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log_"/>
      <!--<file type="log4net.Util.PatternString" value="Logs\\%property{LogFileName}" />-->
      <datePattern value="dd.MM.yyyy'.log'"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--LOCAL MYSQL-->
    <!--<add name="ConnectionString" connectionString="Server=127.0.0.1;port=3306;Database=amitkumartiwari_CS;Uid=root;Pwd=pass@word1;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Server=182.50.133.84;port=3306;Database=amitkumartiwari_CS;Uid=codeshare;Pwd=pass@word1;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=AMIT-PC;Initial Catalog=TS; User ID=sa;Password=pass@word1; Connect Timeout=0;" providerName="System.Data.SqlClient" />
     <!--<add name="ConnectionString" connectionString="Server=50.62.209.114;port=3306;Database=ph14642530012_CS;Uid=codeshare;Pwd=pass@word1;" providerName="MySql.Data.MySqlClient" />-->
  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages validateRequest="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
