
@{
    ViewBag.Title = "FormTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form Tag</h2>
<br />
A Form is a collection of data in specific fields. Forms are used to build interactivity in the web page. This is a non-empty tag.<br>Attribute of form are<BR><BR>
1.ACTION<BR>This is used to specify the e-mail address to which the information is to be sent or the URL of the CGI program which will use and process the information.<br><BR>
2.METHOD<BR>This specifies that the information field in the form should be posted to the URL which is given in ACTION attribute. There are only two possibe value for the METHOD attributei.e GET or POST. The default value is GET.<BR><BR>
Syntax<BR><B STYLE="BACKGROUND-COLOR:#FFD700">&#60;FORM METHOD=POST ACTIOM="http://dotnetiseasy.com/Regiter"></B>
