
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .Content p {
        color: #7f888f;
    }
</style>
<div class="Content">

    @foreach (var item in Model)
    {
        <a href="@(string.IsNullOrEmpty(item.URL) ?  "Artical/"+item.Language+"/"+item.topic_id.ToString():item.Language+"/"+item.URL)">
            <h2 id="@item.topic_id.ToString()">@item.topic_subject</h2>

            <p>@item.code_topicscol</p>


        </a>


        <hr class="major" />
    }
</div>
